<h1 (click)="pauseAudio()">Music Player</h1>

<div class="col-12 d-inline-flex">
  <div class="col-6 aaa">

    <input class="search" type="search" placeholder="Search..." [ngModel]="keywords" (ngModelChange)="search($event)">

    <div class="results">
      <ul>
        <li *ngFor="let song of songs; let i = index" [attr.data-index]="i" (click)="playSong(i)">
          <b>{{song.title}}</b><br/>
          <span>Movie : {{song.movie}} | Music: {{song.music}} | Singer: {{song.singer}}</span><br/>
        </li>
      </ul>
    </div>

  </div>
  <div class="col-6 bbb" *ngIf="song.title">
    <img [src]="song.image"/>
      <b>{{song.title}}</b><br/>
      <span>Movie : {{song.movie}} | Music: {{song.music}} | Singer: {{song.singer}}</span><br/>
    <p><marquee>{{song.lyrics}}</marquee></p>
      <div>
        <button (click)="previous()">&lt;</button>
        <button (click)="toggle()" >{{isPlaying ? "pause" : "play"}}</button>
        <button (click)="next()">&gt;</button>
      </div>


  </div>
</div>

